Repository saucelabs/sauce-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spider-sauce, @lauramthomas, @lysannep, @discombobulateme, @aoleszyn, @aliciakrebs, @LoryApiFortress, @saucelabs/devx, @alexplischke, @dpgraham

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
*        @spider-sauce @lauramthomas @lysannep @discombobulateme @aoleszyn @aliciakrebs
/docs/ @lauramthomas @lysannep @aoleszyn @aliciakrebs
/docs/api-testing @lauramthomas @lysannep @aoleszyn @aliciakrebs @LoryApiFortress
/docs/web-apps @lauramthomas @lysannep @aliciakrebs @aoleszyn @saucelabs/devx
/docs/dev/cli @lauramthomas @lysannep @aliciakrebs @aoleszyn @saucelabs/devx
Dockerfile @spider-sauce @alexplischke @dpgraham

removing reference to headless DC
  docs/insights/debug.md
  docs/secure-connections/sauce-connect/security-authentication.md
  docs/secure-connections/sauce-connect/system-requirements.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/secure-connections/sauce-connect/system-requirements.md
  docs/secure-connections/sauce-connect/system-requirements.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/secure-connections/sauce-connect/system-requirements.md
  docs/secure-connections/sauce-connect/system-requirements.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/secure-connections/sauce-connect/system-requirements.md
  docs/secure-connections/sauce-connect/system-requirements.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

removing reference to APAC DC
  docs/dev/api.md
  docs/dev/api/connect.md
  docs/dev/cli/sauce-connect-proxy.md
  docs/secure-connections/sauce-connect/system-requirements.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs, @saucelabs/devx

Update docs/dev/cli/sauce-connect-proxy.md
  docs/dev/cli/sauce-connect-proxy.md
Owners: @lauramthomas, @lysannep, @aliciakrebs, @aoleszyn, @saucelabs/devx

App storage - valid .zip files note.
  docs/mobile-apps/app-storage.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/mobile-apps/app-storage.md
  docs/mobile-apps/app-storage.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Apply suggestions from code review
  docs/secure-connections/sauce-connect/security-authentication.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Apply suggestions from code review
  docs/secure-connections/sauce-connect/security-authentication.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/web-apps/automated-testing/playwright.md
  docs/web-apps/automated-testing/playwright.md
Owners: @lauramthomas, @lysannep, @aliciakrebs, @aoleszyn, @saucelabs/devx

Update docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-webdriverio.md
  docs/orchestrate/quickstart-webdriverio.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-webdriverio.md
  docs/orchestrate/quickstart-webdriverio.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-webdriverio.md
  docs/orchestrate/quickstart-webdriverio.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

fixes links
  docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-webdriverio.md
  docs/web-apps/automated-testing/playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs, @saucelabs/devx

Update sidebars.js
  sidebars.js
Owners: @spider-sauce, @lauramthomas, @lysannep, @discombobulateme, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/orchestrate/quickstart-webdriverio.md
  docs/orchestrate/quickstart-webdriverio.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update sidebars.js
  sidebars.js
Owners: @spider-sauce, @lauramthomas, @lysannep, @discombobulateme, @aoleszyn, @aliciakrebs

Update docs/web-apps/automated-testing/playwright.md
  docs/web-apps/automated-testing/playwright.md
Owners: @lauramthomas, @lysannep, @aliciakrebs, @aoleszyn, @saucelabs/devx

Update docs/orchestrate/quickstart-playwright.md
  docs/orchestrate/quickstart-playwright.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Updates for query builder
  docs/error-reporting/web-console/getting-started.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

updated response for API and moved CLI flag under the right section
  docs/dev/api/connect.md
  docs/dev/cli/sauce-connect-proxy.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs, @saucelabs/devx

updated response for API and moved CLI flag under the right section
  docs/dev/api/connect.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update test-configuration-options.md
  docs/dev/test-configuration-options.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update test-configuration-options.md
  docs/dev/test-configuration-options.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/error-reporting/web-console/getting-started.md
  docs/error-reporting/web-console/getting-started.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/dev/test-configuration-options.md
  docs/dev/test-configuration-options.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

TCD-2820
  docs/secure-connections/sauce-connect/setup-configuration/docker.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update environment-variables.md
  docs/basics/environment-variables.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

testcafe: Add extra timeouts settings (#1838)
  docs/web-apps/automated-testing/testcafe/yaml.md
Owners: @lauramthomas, @lysannep, @aliciakrebs, @aoleszyn, @saucelabs/devx

add docs for the migration process to the new SSO
  docs/basics/acct-team-mgmt/org-settings.md
  docs/basics/data-center-endpoints.md
  docs/basics/sso-deprecated/config-adfs.md
  docs/basics/sso-deprecated/config-okta.md
  docs/basics/sso-deprecated/setting-up-single-sign-on.md
  docs/basics/sso-deprecated/sso-hub.md
  docs/basics/sso/configuring-sso-in-auth0.md
  docs/basics/sso/migration-from-deprecated-sso.md
  docs/basics/sso/setting-up-sso.md
  sidebars.js
  static/img/basics/sso-deprecated/deprecated-sso-config-panel.png
  static/img/basics/sso-deprecated/deprecated-sso-config-panel2.png
  static/img/basics/sso-deprecated/new-sso-config-panel.png
  static/img/basics/sso/migration-to-the-new-sso/legacy-sso-ui.png
  static/img/basics/sso/migration-to-the-new-sso/migration-banner.png
  static/img/basics/sso/migration-to-the-new-sso/migration-wizard-button.png
  static/img/basics/sso/migration-to-the-new-sso/success-new-ui.png
  static/img/basics/sso/migration-to-the-new-sso/upload-metadata.png
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs, @spider-sauce, @discombobulateme

temporarily delete docs on Okta SSO SAML app
  docs/basics/sso/configuring-sso-in-okta.md
  docs/basics/sso/setting-up-sso.md
  sidebars.js
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs, @spider-sauce, @discombobulateme

Fix indentation in yaml examples
  docs/orchestrate/authenticated-pulls.md
  docs/orchestrate/best-practices.md
  docs/orchestrate/building-images.md
  docs/orchestrate/getting-started.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

update with availability remark
  docs/mobile-apps/features/instant-booted-simulators.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs

Update docs/dev/test-configuration-options.md
  docs/dev/test-configuration-options.md
Owners: @lauramthomas, @lysannep, @aoleszyn, @aliciakrebs
